body{
    background-color: #232323;
    margin: 0;
    font-family: 'Montserrat','Avenir';
    text-transform: uppercase;
}
.square{
    background-color: purple;
    width: 30%;
    margin: 1.66%;
    padding-bottom: 30%;
    float: left;
    border-radius: 15%;
    transition: 0.6s;
}
h1{
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    font-weight: normal;
    line-height: 1.1;
    padding: 20px 0;
}
#colorDisplay{
    font-size: 180%;
}
#container{
    margin:20px auto;
    width: 600px;
}

#stripe{
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}
#message{
    display: inline-block;
    width: 20%;
}

.selected{
    background-color: steelblue;
    color: white;
}
button{
    border: none;
    background: none;
    height: 100%;
    font-weight: bolder;
    color: steelblue;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
}
button:hover{
    background-color: steelblue;
    color: white;
}
